
{% extends 'inicio/index.html' %}

{% block  title_pagina%}
<title>Ver Autos</title>
{% endblock title_pagina %}

{% block h1_texto_header %}
Ver Autos
{% endblock h1_texto_header %}

{% block index_contenido  %}
<a class="navbar-brand" href={% url 'crear_auto'%}>Crear Auto</a>
<p>Listado de Autos: </p>

    <form action={% url 'ver_autos' %} method="GET">   
        {{formulario}}
        <button>Buscar</button>    
    </form>  
<p>
    {% if autos  %}

        {% for auto in autos  %}
        <li>                        
            <u>Modelo:</u> {{auto.modelo}} - <u>Marca:</u>{{auto.marca}} - <u>Color:</u>{{auto.color}} - <u>Chasis:</u>{{auto.chasis}}
            <a href={% url 'editar_auto' auto.id %}>Editar</a>
            <a href={% url 'eliminar_auto' auto.id %}>Eliminar</a>             
        <li>
            {% endfor %}
    {%else %}
        <p> No se encontraron resultados.<p>
    {%endif%}    
    
</p>
{% endblock index_contenido %}

   